.header {
  background-color: #f8f9fa00;
  padding: 15px;
}

.nav {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3;
  transform: scale(1.05);
}

.home-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease;
}

.nav-link:hover .home-icon {
  transform: scale(1.2);
}