.header {
  background-color: #f8f9fa;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3;
  transform: scale(1.05);
}
