.schedule-details-container {
  padding: 20px;
}

.schedule-details-container h1 {
  font-size: 2rem;
  color: whitesmoke;
}

.schedule-details-container h3 {
  font-size: 2rem;
  color: whitesmoke;
}

.schedule-details-container ul {
  list-style: none;
  padding: 0;
  color: black;
}

.schedule-details-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcdcdc;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: larger;
}

.remove-show-button {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: smaller;
}

.remove-show-button:hover {
  background-color: red;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .schedule-details-container h1 {
    font-size: 1.5rem;
  }

  .schedule-details-container li {
    padding: 10px;
    font-size: medium;
  }
}

@media (max-width: 480px) {
  .schedule-details-container h1 {
    font-size: 1.2rem;
  }

  .schedule-details-container li {
    padding: 8px;
    font-size: small;
  }
}
